.why-grittypr {
  margin: 0;
  width: 722px;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 110%;
}
.value-proposition-title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
.we-know-how {
  width: 721px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 185%;
  color: var(--black);
  display: inline-block;
  max-width: 110%;
}
.value-proposition-title-parent {
  width: 657px;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.value-proposition,
.value-proposition-content,
.value-proposition-title-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.value-proposition-content {
  align-self: stretch;
}
.value-proposition {
  padding: var(--padding-70xl-5) 0 0;
  box-sizing: border-box;
}
.pr-software {
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.82px;
  line-height: 150%;
  font-family: var(--font-avenir-next-cyr);
  color: var(--secondary);
  text-align: left;
}
.feature-list {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base-4) var(--padding-sm);
  background-color: var(--color-white);
  margin: 0 !important;
  position: absolute;
  bottom: 148px;
  left: 0;
  box-shadow: -6.8px 6.8px 20.5px rgba(22, 22, 22, 0.05);
  border-radius: var(--br-mid-1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 2;
}
.feature-list2:hover,
.feature-list:hover {
  background-color: var(--color-gainsboro-100);
}
.ai-driven {
  position: relative;
  letter-spacing: 0.82px;
  line-height: 150%;
}
.feature-list1 {
  margin: 0 !important;
  position: absolute;
  bottom: 0;
  left: 110px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.feature-list1,
.feature-one-title {
  box-shadow: -6.8px 6.8px 20.5px rgba(22, 22, 22, 0.05);
  border-radius: var(--br-mid-1);
  background-color: var(--color-white);
  padding: var(--padding-base-4) var(--padding-sm);
  z-index: 2;
}
.feature-one,
.feature-one-title,
.feature-two-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.feature-one {
  align-self: stretch;
  padding: 0 var(--padding-27xl);
}
.feature-two-title {
  box-shadow: -6.8px 6.8px 20.5px rgba(22, 22, 22, 0.05);
  border-radius: var(--br-mid-1);
  background-color: var(--color-white);
  padding: var(--padding-base-4) var(--padding-sm);
  z-index: 3;
}
.ellipse-div,
.feature-three-child,
.frame-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 0 solid var(--color-orange);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.ellipse-div,
.frame-child1 {
  border: 0 solid var(--color-darkorange-100);
  z-index: 1;
}
.frame-child1 {
  border: 0 solid var(--primary-2);
  z-index: 2;
}
.rectangle-icon1,
.rectangle-icon2 {
  position: absolute;
  top: 148.1px;
  left: 1.4px;
  border-radius: var(--br-15xl-2);
  width: 34.2px;
  height: 34.2px;
  object-fit: cover;
  z-index: 3;
}
.rectangle-icon2 {
  top: 154.6px;
  left: 168.2px;
}
.ellipse-group,
.rectangle-icon3 {
  position: absolute;
  top: 37px;
  left: 36.9px;
  width: 214.8px;
  height: 214.8px;
}
.rectangle-icon3 {
  top: 22.6px;
  left: 227.7px;
  border-radius: var(--br-15xl-2);
  width: 47.9px;
  height: 47.9px;
  object-fit: cover;
  z-index: 3;
}
.ellipse-parent {
  position: absolute;
  top: 36.9px;
  left: 37px;
  width: 288.6px;
  height: 288.6px;
}
.rectangle-icon4,
.rectangle-icon5,
.rectangle-icon6 {
  position: absolute;
  top: 239.4px;
  left: 325.6px;
  border-radius: var(--br-15xl-2);
  width: 38.2px;
  height: 38.2px;
  object-fit: contain;
  z-index: 2;
}
.rectangle-icon5,
.rectangle-icon6 {
  top: 261.3px;
  left: 4.8px;
  width: 47.9px;
  height: 47.9px;
  object-fit: cover;
}
.rectangle-icon6 {
  top: 119.7px;
  left: 28.7px;
  width: 34.2px;
  height: 34.2px;
}
.feature-three {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -1.3px;
  bottom: 0;
}
.feature-details {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-6xs) var(--padding-7xl-7);
  position: relative;
  gap: var(--gap-203xl-2);
}
.feature-list2,
.features {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.feature-list2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base-4) var(--padding-sm);
  background-color: var(--color-white);
  margin: 0 !important;
  position: absolute;
  top: 128px;
  right: 0;
  box-shadow: -6.8px 6.8px 20.5px rgba(22, 22, 22, 0.05);
  border-radius: var(--br-mid-1);
  flex-direction: row;
  z-index: 3;
}
.features {
  flex-direction: column;
  padding: 0 var(--padding-6xs) var(--padding-7xs-3) var(--padding-28xl);
  box-sizing: border-box;
  position: relative;
  min-width: 417.7px;
  max-width: 100%;
  font-size: var(--font-size-sm);
  color: var(--secondary);
}
.frame-section,
.value-proposition-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.value-proposition-parent {
  width: 1175.7px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-section {
  width: 1375.7px;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-45xl-2);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-300);
  font-family: var(--font-avenir-next-cyr);
}
@media screen and (max-width: 1200px) {
  .features,
  .value-proposition {
    flex: 1;
  }
  .value-proposition-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 825px) {
  .why-grittypr {
    font-size: var(--font-size-7xl);
    line-height: 32px;
  }
  .features,
  .value-proposition {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .why-grittypr {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .feature-one {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .feature-details {
    gap: var(--gap-92xl);
  }
  .features {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-section {
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
}
