.group-icon {
  width: 13px;
  height: 13px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.development1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.development {
  align-self: stretch;
  position: relative;
}
.our-team-is {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
}
.stage-details {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.frame-group,
.stage-content,
.stage-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.stage-content {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-41xl);
}
.frame-group {
  width: 384px;
  background-color: var(--color-whitesmoke-100);
  flex-shrink: 0;
  flex-direction: column;
  padding: 0 0 var(--padding-68xl);
  box-sizing: border-box;
  gap: var(--gap-8xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--black);
  font-family: var(--font-avenir-next-cyr);
}
@media screen and (max-width: 450px) {
  .development {
    font-size: var(--font-size-base);
  }
  .stage-content {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
