.input-one {
  top: 0;
  left: 0;
  background-color: var(--color-dodgerblue);
  width: 393px;
  height: 335px;
}
.input-one,
.input-three-icon,
.input-two {
  position: absolute;
  border-radius: var(--br-xl);
}
.input-two {
  top: 103px;
  left: 163px;
  background-color: var(--color-dodgerblue);
  width: 415px;
  height: 252px;
  z-index: 1;
}
.input-three-icon {
  top: 52.4px;
  left: 30.2px;
  width: 499.4px;
  height: 353.3px;
  object-fit: cover;
  z-index: 2;
}
.signup-form {
  margin-left: -840px;
  height: 429.5px;
  position: relative;
  min-width: 578px;
  flex-shrink: 0;
  max-width: 100%;
}
.lets-reimagine-public {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
}
.join-the-waitlist2 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 185%;
}
.lets-reimagine-public-relatio-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.placeholder {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.29px;
  line-height: 26px;
  font-weight: 500;
}
.placeholder-wrapper {
  width: 121px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl) 0 0;
  box-sizing: border-box;
}
.button-big {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: -0.32px;
  line-height: 28px;
  font-family: var(--font-avenir-next-cyr);
  color: var(--background);
  text-align: center;
  display: inline-block;
  min-width: 80px;
}
.button-wrapper,
.input-container {
  border-radius: var(--br-31xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xl) var(--padding-84xl);
  background-color: var(--primary-2);
  justify-content: center;
}
.button-wrapper:hover {
  background-color: var(--color-orangered);
}
.input-container {
  align-self: stretch;
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray);
  overflow: hidden;
  justify-content: space-between;
  padding: 0 var(--padding-11xs) 0 var(--padding-11xl);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
  color: var(--color-grey-60);
}
.confirmation,
.confirmation-message,
.signup,
.signup-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.confirmation-message {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-45xl);
  flex-shrink: 0;
}
.confirmation,
.signup,
.signup-content {
  box-sizing: border-box;
  max-width: 100%;
}
.confirmation {
  flex-direction: column;
  padding: var(--padding-43xl-5) 0 0;
}
.signup,
.signup-content {
  flex-direction: row;
}
.signup-content {
  width: 1440px;
  background-color: var(--primary-1);
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-12xl) var(--padding-81xl) var(--padding-12xs-5)
    var(--padding-717xl);
  gap: var(--gap-243xl);
  z-index: 1;
}
.signup {
  padding: 0 0 var(--padding-61xl);
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-avenir-next-cyr);
}
@media screen and (max-width: 1400px) {
  .confirmation,
  .signup-form {
    flex: 1;
    min-width: 100%;
  }
  .signup-content {
    gap: var(--gap-112xl);
    flex-wrap: wrap;
    padding-left: var(--padding-349xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .lets-reimagine-public {
    font-size: var(--font-size-7xl);
    line-height: 32px;
  }
  .input-container {
    flex-wrap: wrap;
  }
  .confirmation-message {
    gap: var(--gap-13xl);
  }
  .signup-content {
    gap: var(--gap-46xl);
    padding-left: var(--padding-165xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
  .signup {
    padding-bottom: var(--padding-33xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .lets-reimagine-public {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .button-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .confirmation-message {
    gap: var(--gap-base);
  }
  .signup-content {
    gap: var(--gap-14xl);
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
