@font-face {
  font-family: "Avenir Next Cyr";
  src: url("/public/AvenirNextCyr-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next Cyr";
  src: url("/public/AvenirNextCyr-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Gilroy";
  src: url("/public/Gilroy-Bold.ttf");
  font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}